header {
  text-align: center;
}

.results {
  margin: 25px;
  text-align: center;
}

.no-results {
  margin: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 200px;
}

.title {
  color: black;
  font-size: 18px;
  margin: 5px;
}

.subtitle {
  color: grey;
  font-size: 14px;
  margin: 5px;
}
